<div class="container mt-3 mb-1 border-bottom mw-100 d-flex">
  <div class="headline d-flex w-25 pt-4 justify-content-start align-content-end">
    <img class="" ngSrc="assets/images/MenuIcon.png" alt="Menu Icon" height="35" width="24"/>
    <h3 class="title ps-1"> DEARONAAR</h3>
  </div>
  <div class="w-25"></div>
  <div class="w-25 justify-content-end align-content-end">
    <ul class="nav nav-tabs justify-content-end align-content-end">
      <li class="nav-item">
        <a class="nav-link active bg-black bg-opacity-25" aria-current="page" href="#">Mitarbeiter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Qualifikationen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Impressum</a>
      </li>
    </ul>
  </div>
  <div class="w-25 align-content-center justify-content-end">
    <div class="card bg-black bg-opacity-25 p-1 m-1 d-table">
      <div class="w-25 d-table-cell justify-content-center">
        <img class="pfp ms-3 rounded-circle" src="assets/images/profile.png" alt="Pfp">
      </div>
      <div class="w-50 d-table-cell justify-content-evenly align-content-center">
        <h5 class="card-title">Anna Annagramm</h5>
        <p class="card-text">SZUT Bremen</p>
      </div>
    </div>
  </div>
</div>
