<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addModalLabel">Qualifikationen von {{ employee?.firstName }} {{ employee?.lastName }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Qualifikation</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let skill of employee?.skillSet; let i = index">
            <td>{{ skill.skill }}</td>
            <td>
              <button class="btn btn-primary btn-sm" (click)="add()">
                <i class="bi bi-trash"></i> Entfernen
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Anwenden</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Abbrechen</button>
      </div>
    </div>
  </div>
</div>

