<div class="h-100 mt-5">
  <div class="headline d-flex w-100 h-50 pt-4 justify-content-center align-content-center d-flex mt-5">
    <img ngSrc="assets/images/MenuIcon.png" alt="Menu Icon" height="96" width="67"/>
    <h1 class="title display-1 ps-1"> DEARONAAR</h1>
  </div>
  <div class="justify-content-xxl-center align-content-xxl-center mt-5 p-5 w-100 h-100 d-flex">

    <button class="btn btn-outline-dark p-2 btn-lg " routerLink="/landing-page">Nutzerverwaltung
    </button>
  </div>
</div>
