<div class="vh-100">
  <div class="h-25 d-flex justify-content-end p-5">
    <img class="pfp ms-3 rounded-circle align-self-top mt-4 me-5" src="assets/images/profile.png" alt="Pfp">
  </div>
  <div class="h-25 d-flex title align-items-center justify-content-center">
    <h1 class="title">DEARONAAR</h1>
  </div>
  <div class="h-25 container justify-content-evenly d-flex">
    <div class=" card w-25 h-100 align-self-center center justify-content-top p-3">
      <img class="card-img-top align-self-center h-75 w-75" src="assets/images/Mitarbeiter.webp" alt="Mitarbeiter">
      <h5 class="card-title">Mitarbeiter</h5>
      <p class="card-text">Hier kannst du deine Mitarbeiter und deren Fähigkeiten einsehen.</p>
    </div>
    <div class="card w-25 h-100 align-self-center center justify-content-top p-3">
      <img class="card-img-top align-self-center h-75 w-75" src="assets/images/Qualifikationen.webp" alt="Qualifikationen">
      <h5 class="card-title">Qualifikationen</h5>
    <p class="card-text">Qualifikationen erstellen und ihnen Mitarbeiter zuweisen</p>
    </div>
    <div class="card w-25 h-100 align-self-center center justify-content-top p-3">
      <img class="card-img-top align-self-center h-75 w-75" src="assets/images/Impressum.webp" alt="Impressum">
      <h5 class="card-title">Impressum</h5>
      <p class="card-text">Hier find sich unser Impressum.</p>
    </div>
  </div>
</div>
